.c-btn {
  @extend .#{$bs-prefix}c-btn;
  transition: background-color $bs-transition-duration $bs-transition-function-timing;
  border: 1px solid $main-color;
  color: $main-color;
  font-weight: bold;

  @include bs-hover() {
    background-color: bs-lightest($main-color);
  }

  &--block {
    @extend .#{$bs-prefix}c-btn--block;
  }
}
