.p-global-nav {
  @include bs-font-size-line-height(14px);

  .#{$bs-prefix}c-menu__item {
    padding-bottom: ($bs-base-line-height / 4);

    > a {
      position: relative;
      padding-bottom: ($bs-base-line-height / 4);
      text-decoration: none;

      &::after {
        @include bs-extend-underline();
        background-color: $main-color;
      }
    }

    @include bs-hover() {
      > a {
        &::after {
          width: 100%;
        }
      }
    }
  }

  .#{$bs-prefix}c-menu__submenu {
    background-color: rgba($bs-color-black, .8);

    a {
      color: #fff;
    }
  }

  .#{$bs-prefix}c-menu__subitem {
    @include bs-hover() {
      background-color: rgba(#fff, .05);
    }
  }
}

.#{$bs-prefix}l-header--is-scrolled {
  .p-global-nav {
    .#{$bs-prefix}c-menu__item {
      @include bs-hover() {
        background-color: rgba(#fff, .05);
      }
    }
  }
}
